// ai_generated
polkit.addRule(function(action, subject) {
    if (subject.user !== {{ static_site_user_name | to_json }}) {
        return;
    }

    var unit = action.lookup("unit");
    var verb = action.lookup("verb");
    var deployPrefix = {{ (static_site_unit_name_prefix ~ '-deploy-' ~ static_site_name ~ '@') | to_json }};
    var rollbackPrefix = {{ (static_site_unit_name_prefix ~ '-rollback-' ~ static_site_name ~ '@') | to_json }};
    var suffix = "";
    if (typeof unit === "string" && unit.indexOf(deployPrefix) === 0) {
        suffix = unit.slice(deployPrefix.length);
    } else if (typeof unit === "string" && unit.indexOf(rollbackPrefix) === 0) {
        suffix = unit.slice(rollbackPrefix.length);
    }
    var allowedRelease = /^v(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)-[0-9a-f]{12}\.service$/;

    if (action.id === "org.freedesktop.systemd1.manage-units" &&
            verb === "start" && allowedRelease.test(suffix)) {
        return polkit.Result.YES;
    }
    return polkit.Result.NO;
});
