# ai_generated
[Transfer]
Verify=yes

[Source]
Type=url-tar
Path={{ static_site_release_feed_url }}
MatchPattern={{ static_site_name }}-@v.tar.gz

[Target]
Type=directory
Path={{ static_site_root }}
MatchPattern=releases/@v
CurrentSymlink=staged
InstancesMax=4
