# ai_generated
[Transfer]
Verify=yes

[Source]
Type=url-tar
Path=https://github.com/{{ static_site_repository }}/releases/latest/download
MatchPattern={{ static_site_name }}-@v.tar.gz

[Target]
Type=directory
Path=/srv/www/{{ static_site_name }}
MatchPattern=releases/@v
CurrentSymlink=staged
InstancesMax=4
